html {
    box-sizing: border-box;
}

*, ::after, before {
    box-sizing: inherit;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.header {
    width: 100%;
    background-color: orange;
    color: white;
    text-align: center;
}
